* {
  font-size: 14;
  margin: 0px;
  padding: 0px;
}

svg {
  height: 100%;
  width: 100%;
  z-index: 1;
  /* transition: 1s ease-in-out 0s; */
}

.text-svg{
    margin-top: 10vh;
    min-height: 80vh;
    max-height: 80vh;
    min-width: 95vw;
    max-width: 95vw;
}

.fullscreen{
    position: absolute;
    background-color: seagreen;
    height: 100vh;
    width: 100vw;
    z-index: 1;
    /* transition: 1s ease-in-out 0s; */
}

body {
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

.container {
  height: 300vh;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow-x: hidden;
  background-color:#e0dfdf;
}
.container-2{
  height: 100vh;
   width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}

.box {
  border-radius: 10px;
  background-color: #d3cfcf;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border: 1px solid #535353;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #bdbdbd; 
}
::-webkit-scrollbar-thumb {
  background: rgb(163, 162, 162); 
}
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.svg {
  height: 90%;
  width: 75%;
  /* z-index: 0; */
}

/* .svg:hover{
    background-color: seagreen;
} */

.listado{
    height: 90%;
    width: 15%;
    overflow-y: auto; 
}

.ol-manzana {
  height: auto;
  width: 100%;
  /* overflow-y: auto; */
}

.li-manzana {
  width: 60%;
  margin: 0px 3vw;
  text-align: center;
}

.json {
  height: 40%;
  width: 95%;
  overflow-y: scroll;
  overflow-x: hidden;
  display: flex;
  justify-content: start;
  align-items: flex-start;
  flex-direction: column;
  /* overflow-y: scroll; */
  /* overflow-x: hidden; */
}

.container_boxBlock {
  height: auto;
  width: auto;
  border-radius: 10px;
  /* overflow-y: auto; */
  /* overflow: hidden; */
}

.box-block {
  height: auto;
  width: 98%;
}

.escalon:first-child {
  margin-top: 1vh;
}

.escalon {
  /* width: 100px; */
  margin-left: 1vw;
}

.numero {
  height: auto;
  width: auto;

  margin-top: 1.5vh;
  border-radius: 10px;
  padding: 1vh 2vh;

  background-color: #dbdaa36b;
}
.pach {
  height: auto;
  width: auto;

  margin-top: 1.5vh;
  border-radius: 10px;
  padding: 1vh 2vh;

  background-color: #dbdaa36b;
}
.Lotes {
  height: auto;
  width: auto;

  margin-top: 1.5vh;
  border-radius: 10px;
  padding: 1vh 2vh;

  background-color: #cfcccc;
}

.Lote {
  height: auto;
  width: auto;

  margin-top: 1.5vh;
  border-radius: 10px;
  padding: 1vh 2vh;

  background-color: #c5c2c2;
}

.copy-json{
    display:  none;
}
.btn-copy{
    background-color: rgb(46, 139, 87);
    height: 6%;
    width: 95%;
    margin-top: 5vh;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3vh;
}

.btn-copy:hover{
  cursor: pointer;
  box-shadow: 0 4px 16px rgba(46, 139, 87, 1);
  transition: all 0.2s ease;
}