* {
  font-size: 14;
  margin: 0px;
  padding: 0px;
}

svg {
  pointer-events: none;
  height: 100%;
  width: 100%;
  z-index: 1;
  /* transition: 1s ease-in-out 0s; */
}

.text-svg{
    margin-top: 5vh;
    min-height: 80vh;
    max-height: 80vh;
    min-width: 95vw;
    max-width: 95vw;
}

.fullscreen{
    position: absolute;
    background-color: seagreen;
    height: 100vh;
    width: 100vw;
    z-index: 1;
    /* transition: 1s ease-in-out 0s; */
}

body {
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

.container {
  height: 100vh;
  width: 100vw;
  /* display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; */
  background-color:#e0dfdf; 
  display: grid;
  gap: 1vh;
  grid-template-columns: 5% 90% 5%;
  grid-template-rows: 5% 70% 10% 10% 5%;
  grid-template-areas: ". title ."
                       ". container2 ."
                       ". json ."
                       ". btns ."
                       ". . .";
}

.menu{
  grid-area: title;
  text-align: center;
  margin: auto;
}
.container-2{
  grid-area: container2;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  /* height: 60%;
  width: 100vw; */
  /* display: grid;
  gap: 1vh;
  grid-template-columns: 5% 20% 70% 5%;
  grid-template-rows: 20% 70%;
  grid-template-areas: ". list svg ."
                       ". list svg ."; */
}

.box {
  border-radius: 10px;
  background-color: #d3cfcf;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border: 1px solid #535353;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #bdbdbd; 
}
::-webkit-scrollbar-thumb {
  background: rgb(163, 162, 162); 
}
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.svg {
  margin-left: 1%;
  height: 100%;
  width: 80%;
}

.listado{
  height: 100%;
  width: 19%;
  overflow-y: auto; 
}

.ol-manzana {
  pointer-events: none;
  height: auto;
  width: 100%;
  /* overflow-y: auto; */
}

.li-manzana {
  width: 60%;
  margin: 0px 3vw;
  text-align: center;
}

.json {
  grid-area: json;
  /* height: 20%;
  width: 95%; */
  overflow-y: scroll;
  overflow-x: hidden;
  display: flex;
  justify-content: start;
  align-items: flex-start;
  flex-direction: column;
}


.showJSON{
  margin: 0%;
  padding: 0%;
  justify-self: center;
  align-self: center;
  position: absolute;
  top: 5vh;
  height: 90vh;
  width: 90vw;
}

.container_boxBlock {
  pointer-events: none;
  height: auto;
  width: 100%;
  border-radius: 10px;
  
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.box-block {
  pointer-events: none;
  height: auto;
  width: 98%;
  background-color: #c5c3be;
  border-radius: 10px;
  margin-top: 1vh;


  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: start;
}

.box-block-m{
  pointer-events: none;
  height: auto;
  width: 98%;
  background-color: #cdcbc9;
  border-radius: 10px;
  margin-top: 1vh;

  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.escalon:first-child {
  pointer-events: none;
  margin-top: 1vh;
}

.escalon {
  pointer-events: none;
  /* width: 100px; */
  /* margin-left: 1vw; */
}

.numero {
  pointer-events: none;
  height: auto;
  width: auto;

  margin: 1.5vh 1%;
  border-radius: 10px;
  padding: 1vh 2vh;

  background-color: #dbdaa36b;
}
.pach {
  pointer-events: none;
  height: auto;
  width: 95%;
  overflow: hidden;

  margin: 1.5vh 1%;
  border-radius: 10px;
  padding: 1vh 2vh;

  background-color: #dbdaa36b;
}
.Lotes {
  pointer-events: none;
  height: auto;
  width: auto;
  overflow: hidden;

  margin: 1.5vh 1%;
  border-radius: 10px;
  padding: 1vh 2vh;

  background-color: #dbdaa36b;
}

.Lote {
  pointer-events: none;
  height: auto;
  width: 98%;

  margin-top: 1.5vh;
  border-radius: 10px;
  padding: 1vh 2vh;

  background-color: #c5c2c2;
}

.copy-json{
    display:  none;
}
.btn-copy{
    background-color: rgb(46, 139, 87);
    /* height: 6%; */
    width: 95%;
    margin-top: 1vh;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-bottom: 3vh; */
    /* padding: 15px 0px; */
}

.btn-copy:hover{
  cursor: pointer;
  box-shadow: 0 4px 16px rgba(46, 139, 87, 1);
  transition: all 0.2s ease;
}
.btn-area{
  grid-area: btns;
  /* width: 95%; */
  display: flex;
  gap: 1rem;
}
.alert-copy{
  /* align-self: center; */
  justify-self: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  background-color: rgb(46, 139, 87);
  color: #fff;
  padding: 15px;
  position: fixed;
  top: -55px;
  border-radius: 0px 0px 8px 8px;
  box-shadow: rgb(0 0 0 / 15%) 0px 2px 8px;
  transition: all 0.5s ease-in;
}
.show{
  top: 0px;
}
.sucess{
  background-color: rgb(46, 139, 87);
}
.danger{
  background-color: rgb(145, 26, 26);
}

[data-manzana] {
  pointer-events: all;
}

[data-manzana]:hover {
  stroke: #111111;
  animation: popup 0.75s ease alternate infinite;
}

[data-piso] {
  pointer-events: all;
}

[data-piso]:hover {
  stroke: #111111;
  animation: popup 0.75s ease alternate infinite;
}

[data-lote] {
  pointer-events: all;
}

[data-lote]:hover {
  stroke: #111111;
  animation: popup 0.75s ease alternate infinite;
}

@keyframes popup {
  0% {
    stroke-width: 3px;
  }
  25% {
    stroke-width: 5px;
  }
  50% {
    stroke-width: 7px;
  }
  75% {
    stroke-width: 8px;
  }
  100% {
    stroke-width: 9px;
  }
}
